.detailsSection {
  display: flex;
  flex-direction: column;
}

.detailsSection > article {
  display: flex;
  justify-content: center;
}

.detailsSection > article > h2 {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  filter: drop-shadow(rgba(195, 203, 214, 0.16) 0px 0px 6px)
    drop-shadow(rgba(195, 203, 214, 0.16) 0px 1px 4px);
}
